In [1]:
import pandas as pd

#a partir de um dicionário
# dataframe = pd.DataFrame()
#venda = {'data': ['15/02/2021', '16/02/2021'],
#    'valor': [500, 300],
#    'produto': ['feijao', 'arroz'],
#    'qtde': [50, 70],
#    }
#vendas_df = pd.DataFrame(venda)

In [2]:
# partir de arquivos e base de dados
vendas_df = pd.read_excel("Vendas.xlsx")

In [3]:
#metodos DISPLAY (geral)
# vendas_df

#HEAD (só o topo, configurável com linhas eg: vendas_df.head(10))
#display(vendas_df.head(10))

#SHAPE ( linhas e colunas)
#vendas_df.shape

#DESCRIBE  detalhamento
#vendas_df.describe()

pegar uma coluna( e os pd.series)

In [4]:
#vendas_df[['Produto','ID Loja']]

In [5]:
#.loc - (equivale a um list) pegar linha
#vendas_df.loc[::-1]

#pegar linhas em condição
#vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']
#vendas_norteshopping_df

#varias linhas e colunas locando   - loc [linhas, colunas]
#vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['Produto', 'Quantidade']]
#vendas_norteshopping_df

#1 valor especifico ou mais, cabe uso de condicional
#vendas_df.loc[1,'Produto']

In [6]:
# a partir de uma coluna que existe
vendas_df['Comissao'] = vendas_df['Valor Final'] * 0.05
#display(vendas_df)

#criar uma coluna com um valor padrão
vendas_df.loc[ : ,'Imposto'] = 0

In [7]:
# ADICIONAR 1 LINHA 

vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
#display(vendas_dez_df)

#criar novas colunas somente apos um append, assim evitando ter de tratar 
vendas_df = vendas_df.append(vendas_dez_df)
#vendas_df

#coluna tenta substituir antes de add
#linha ele sempre add

/tmp/ipykernel_33895/1598616357.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vendas_df = vendas_df.append(vendas_dez_df)

In [8]:
#excluir parecido com lang sql
#  ( 0 << linha , axis 0 = linha , axis 1 = coluna)
#vendas = vendas_df.drop("Imposto", axis = 1)

#dropando linha
#vendas_df = vendas_df.drop(0, axis = 0)

#vendas_df

In [11]:
#- Deletar linhas/colunas vazias
#- Deletar linhas que possuem valores vazios
#- Preencher valores vazios (média e último valor)

# deletar linhas e colunas completamente vazias
#how = all >>> tudo   
# vendas_df = vendas_df.dropna(how='all', axis=1)

# deletar linhas que possuem pelo menos 1 valor vazio
# vendas_df = vendas_df.dropna()

# preencher valores vazios
# preencher com a média da coluna
#vendas_df['Comissao'] = vendas_df['Comissao'].fillna(vendas_df['Comissao'].mean())
#vendas_df

# preencher com o último valor
#first fill
#vendas_df = vendas_df.ffill()

In [19]:
# Serva para , eg: faturamento total, por loja, quantas transações em cada loja,

#- Groupby - Qual resultado final que eu quero?

vendas_df

# () << coluna
#faturament_produto = vendas_df[['Produto','Valor Final']].groupby('Produto').sum()
#faturament_produto



#- Value Counts
#transacoes_loja = vendas_df['ID Loja'].value_counts()
#transacoes_loja

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.900000,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743133,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743133,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743133,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743133,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743133,NaN

In [ ]:
faturament_produto = vendas_df[['Produto','Valor Final']].groupby('Produto').sum()
faturament_produto